{{ define "main" }}
  <h1>{{ .Title }}</h1>

  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <i><time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time></i>

  {{ .Content }}
  <hr />
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
  <details>
    <summary>Comments</summary>
    <script src="https://giscus.app/client.js"
            data-repo="pikdum/blog"
            data-repo-id="R_kgDOL0SXvw"
            data-category="Comments"
            data-category-id="DIC_kwDOL0SXv84CfJoP"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="bottom"
            data-theme="preferred_color_scheme"
            data-lang="en"
            crossorigin="anonymous"
            async>
    </script>
  </details>
{{ end }}
