body {
  margin: 0 auto;
  max-width: 800px;
  padding: 1em;
}

nav ul,
.terms ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 1em;
  justify-content: center;
  flex-wrap: wrap;
}

footer {
  text-align: center;
}

.post-list-item {
  display: flex;
  justify-content: space-between;
  margin-right: 2em;
  margin-bottom: 0.25em;
}

.post-list-item a {
  text-wrap: balance;
}

summary {
  cursor: pointer;
}

time {
  white-space: nowrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

.post-title,
.post-date {
  display: block;
  text-align: center;
}

header h1 {
  font-family: monospace;
  text-align: center;
}

.post-list {
  list-style-type: none;
  padding-left: 2em;
}

table {
  display: block;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

li {
  word-break: break-word;
}

@media only screen and (max-width: 600px) {
  .post-list-item {
    flex-direction: column;
    margin-bottom: 1em;
    text-align: center;
  }
}
