body {
  margin: 0 auto;
  max-width: 800px;
  padding: 1em;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 1em;
}

footer {
  text-align: center;
}

.post-list-item {
  display: flex;
  justify-content: space-between;
  margin-right: 2em;
}
